<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><button class="button button-small button-calm button-clear" ui-sref="tab.things">
      Things to do</button></div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="#/www/ímg/Placeholder.jpg">
            </a>
          </div>
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><button class="button button-small button-calm button-clear" ui-sref="tab.home">
      Home</button></div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><button class="button button-small button-calm button-clear" href="#/tab/places><ion-nav-view name="tab-things">Places</ion-nav-view></button></div>
            <div class="item item-body">
        <div class="row">
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
          <div class="col">
            <a class="item item-thumbnail-left" href="#">
            <img src="/www/ímg/Placeholder.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
